<%= form_for @rambling, html: { multipart: true } do |f| %>
  <% if @rambling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rambling.errors.count, "error") %> prohibited this rambling from being saved:</h2>

      <ul>
      <% @rambling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :"Attach an Image" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Ramble", class: "btn btn-danger" %>
  </div>
<% end %>