<h1>Latest Ramblings</h1>

<table class="table table-striped">
  <tbody>
    <% @ramblings.each do |rambling| %>
      <tr>
        <td><%= image_tag rambling.image.url(:medium) %></td>
        <td><%= rambling.description %></td>
        <td><%= rambling.user.email if rambling.user %></td>
        <td><%= link_to 'Show', rambling %></td>
        <% if rambling.user == current_user %>
        <td><%= link_to 'Edit', edit_rambling_path(rambling) %></td>
        <td><%= link_to 'Destroy', rambling, method: :delete, data: { confirm: 'Regret already! Delete for sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Rambling', new_rambling_path %>
<% end %>