<%= render 'pages/home' if user_signed_in? %>

<div id="ramblings" class="transitions-enabled">
  <% @ramblings.each do |rambling| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(rambling.image.url(:medium)), rambling %>
      <div class="panel-body">
      <%= rambling.description %><br />
      <strong><%= rambling.user.name if rambling.user %></strong>
      <% if rambling.user == current_user %>
        <div class="actions">
          <%= link_to edit_rambling_path(rambling) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to rambling, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>