<div id="ramblings" class="transitions-enabled">
  <% @ramblings.each do |rambling| %>
    <div class="box panel panel-default">
      <%= image_tag rambling.image.url(:medium) %>
      <div class="panel-body">
      <%= rambling.description %>
      <%= rambling.user.email if rambling.user %>
      <%= link_to 'Show', rambling_path(rambling) %>
      <% if rambling.user == current_user %>
        <%= link_to 'Edit', edit_rambling_path(rambling) %>
        <%= link_to 'Destroy', rambling, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
