<p id="notice"><%= notice %></p>

<p>
  <strong><%= @rambling.user.email %></strong>
  <h2><%= @rambling.description %></h2>
</p>
<% if @rambling.user == current_user %>
<%= link_to 'Edit', edit_rambling_path(@rambling) %> |
<% end %>
<%= link_to 'Back', ramblings_path %>
